* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: #f0f2f5;
    padding: 2rem 1rem;
}

.img {
    width: 60%;
    max-width: 250px;
}

.container { 
    background-color: white;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    height: 305px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cen {
    margin-top: 2px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.1rem;
}

.username,
.password {
    width: 100%;
}

.input {
    border-radius: 6px;
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    border: 0.1px solid #ccc;
    margin-bottom: 1rem;
}

input:focus, .form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #0866ff !important;
}

.sub {
    border-radius: 8px;
    border: none;
    background-color: #0866ff;
    width: 100%;
    height: 48px;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: -5px;
}

.last {
    text-align: center;
    margin-top: 1.1rem;
}

.last a {
    color: #1877f2;
    text-decoration: none;
    font-size: 0.95rem;
}
.line:hover{
    text-decoration: underline;
}

/* Media Query for small screens */
@media (max-width: 600px) {
    .img {
        width: 80%;
    }

    .container {
        padding: 1.5rem 1rem;
    }

    .input,
    .sub {
        font-size: 0.95rem;
        padding: 0.9rem;
    }

    .cen {
        font-size: 1rem;
    }
}


.line1:hover {
    text-decoration: underline;
}