*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border: 3px solid orange;
    height: 100vh;

    background-color: hsl(0,100%,70%);
    background-image: url("../asserts/images/img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    background-repeat:no-repeat;
}