/* h1{
    color: #00ff00
}
h1{
    color: #ff0000;
}
h1{
    color: #ffff00;
}
h1{
    color: #0000ff;
}
h1{
    color: #abc;
}
h1{
    color: #ff0000;
}
h1{
    color: #ab33ef;
}
h1{
    color: rgb(255, 0, 0);
} */
/* h1{
    color: rgba(255, 0, 0.9);
} */

/* h1{
    color: hsl(240, 100%, 50%);
} */

h1{
    /* color: hsl(150,100%,70%); */
}
p{
    font-size: 32px;
    font-weight: bold;
}